.search-input {
  border-radius: 50px;
  font-weight: bold;
  /* border: 0; */
  background-color: #f6f6f6;
  height: 45px;
}

.search-button {
  width: 150px;
  border-radius: 50px;
  height: 45px;
}

.red-icon {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 90%;
}
